body {
    display: flex;
    justify-content: center;
}

.anchor {
    width: 80%;
    max-width: 500px;
    margin-top: 5vh;
}

.form-select {
    margin: 2.5vh 0;
}

#text-input {
    margin: 3vh 0;
}